.happen_header_logo{
    margin: 2rem 0; font-family: 'Lobster', cursive;
}

.happen_header_btn{
    margin-bottom: 2rem;
}

.happen_footer_btn{
    margin-top: 1.5rem;
}

.happen_footer_logo{
    margin: 1.5rem 0;font-family: 'Lobster', cursive;
}