.happen_header_logo{
    margin: 2rem 0; font-family: 'Lobster', cursive;
}

.happen_header_btn{
    margin-bottom: 2rem;
}

.happen_footer_btn{
    margin-top: 1.5rem;
}

.happen_footer_logo{
    margin: 1.5rem 0;font-family: 'Lobster', cursive;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}